<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=0.45 minimum-scale=0, maximum-scale=0.45, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href=<%=baseUrl+"/images/"+faviconIcon %>>
    <link rel="stylesheet" href=<%=baseUrl+"/css/base.css"%>>
    <link rel="stylesheet" href=<%=baseUrl+"/css/swtg04.css"%>>
</head>

<body class="btnText">
    <div class="content">
        <img class="bg_img btn" src=<%=baseUrl+"/images/swtg04/bg01_011.jpg" %> alt="">
    </div>
    <!-- <script src="/simJQ.js"></script> -->
    <script src=<%=cdnUrl +  "/simJQ.js" %>></script>
    <%if(isIOS){%> <%#ios%> <%if(iosIntro){%> <%#引导%> <%include
    ./components/guide%> <%}%> <%if(!iosUrl.isAppStore){%> <%#企业包%> <%include
    ./components/qyb%> <%} else{%> <%#商店包%> <%include ./components/store%>
    <%}%>
    <!-- <script src="/clipboard.min.js"></script> -->
    <script src=<%= cdnUrl + "/clipboard.min.js" %>> </script>
    <script>
        new ClipboardJS('.btnText', { text: function () { return "<%-channel%>".trim() } });
        var weixin = <%=isWx%>;
        var baseUrl = "<%-baseUrl%>";
        // $(".qrcode").css("display", "none");
        if (weixin) {
            //ios微信
            $("body").append(`<div class="fullImg"><img src="${baseUrl}/images/live_weixin_ios.png"></div>`);
        }
    </script>
    <%}else if(isAdr) {%> <%#安卓%> <%include ./components/android%>
    <script>
        var weixin = <%=isWx%>;
        var baseUrl = "<%-baseUrl%>";
        //  $(".qrcode").css("display", "none");
        if (weixin) {
            //安卓微信
            $("body").append(`<div class="fullImg"><img src="${baseUrl}/images/live_weixin.png"></div>`)
        }
    </script>
    <%} else {%> <%#其他（pc）%> <%include ./components/android%> <%}%>
    <script>
        <% include index.js %>
            document.registerReady(function () {
                $(".btnDownload2,.btn,.game").click(function () {
                    downloadFuc();
                })
            })
    </script>
    <% include ../../../common/stats/index.ejs %>
</body>

</html>